body {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  color: gray;
  font-family: sans-serif;
}
/* contains photo, userInfo and icon(s) */
#parentDiv {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-self: center;
  border-bottom: 0.5px solid #ddd;
  width: 90%;
}
#photoDiv {
  align-self: center;
}
#userInfoDiv {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  width: 60%;
}
#nameDiv {
  margin-left: 10px;
  margin-bottom: 10px;
}
#detailsDiv {
  margin: 0 0 15px 25px;
  font-weight: lighter;
  font-size: 15px;
  line-height: 1.5;
}
.expandDiv {
  margin-left: 25px;
  font-weight: lighter;
  font-size: 12px;
  line-height: 1.5;
}
/* individual classes */
.photo {
  width: 75px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
}
.fullName {
  color: black;
  font-size: 30px;
  font-family: "Outfit", sans-serif;
  font-family: "Raleway", sans-serif;
}
/* icon goes here */
/* search list */
.searchParent {
  display: flex;
  flex-wrap: nowrap;
}
.searchBar {
  width: 95%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid white;
  border-bottom: 1.5px solid #ddd;
  color: black;
  margin-bottom: 15px;
  z-index: 0;
}
#expandableList,
.iconParent {
  background-color: white;
  border: none;
  color: rgb(97, 96, 96);
}
#expandableList:hover {
  color: black;
}
ul li {
  color: rgb(104, 103, 103);
}
.iconParent {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
}

.textInput {
  border: none;
  border-bottom: 1px solid black;
  width: fit-content;
  border-radius:0px !important;
}
